<!DOCTYPE html>
<html lang="no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Telemark fylkeskommune">
<title>{{systemName}}</title>
<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

<!-- Core -->
<link rel="stylesheet" href="/public/css/main.css">

<!-- Icons -->
<link rel="icon" sizes="192x192" href="/public/images/icons/chrome-touch-icon-192x192.png">
<link rel="apple-touch-icon" href="/public/images/icons/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="/public/images/icons/favicon.ico">
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://piwik.service.t-fk.no/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="https://piwik.service.t-fk.no/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row background-color__primary mdl-color-text--black">
            <!-- Title -->
            <img class="header-brand--logo" alt="Logo Telemark fylkeskommune" src="/public/images/logo/logo.svg">
            <span class="mdl-layout-title">Servicetorget</span>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link mdl-color-text--black" href="/">Forsiden</a>
                <a class="mdl-navigation__link mdl-color-text--black" href="/personvern">Personvern</a>
            </nav>
            <form action="/sok" method="post">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right" hidden>
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                           for="fixed-header-drawer-exp">
                        <i class="material-icons mdl-color-text--black">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input mdl-color-text--black" type="text" name="searchText" value="{{searchText}}"
                               id="fixed-header-drawer-exp">
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Navigasjon</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-color-text--black" href="/">Forsiden</a>
            <a class="mdl-navigation__link mdl-color-text--black" href="/personvern">Personvern</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        {{{content}}}
    </main>
    <div class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action"></button>
    </div>
</div>
</body>
</html>
